@using Web.Areas.Admin.Models
@using Core.Catalog.Domain

@{
    ViewData["Title"] = "Edit Manufacturer";
}

@model Manufacturer

<h1>Edit</h1>

<br />
<br />

<form asp-area="Admin" asp-controller="Manufacturer" asp-action="Edit" method="post">
    @Html.Partial("_CreateOrEdit", Model)
</form>