@using Web.Areas.Admin.Models
@using Core.Users.Domain

@{
    ViewData["Title"] = "Create Role";
}

@model string

<h1>Create</h1>

<br />
<br />

<form asp-area="Admin" asp-controller="Category" asp-action="Create" method="post">
    @Html.Partial("_CreateOrEdit", Model)
</form>